body, html {
  height: 100%;
  margin: 0;
  font: 400 16px/1.8 "Lato", sans-serif;
  color: #777;
  margin-bottom:5%;
  padding-bottom:5%;
}
#locandina {
	height:400px;
	width:auto;
}
#foto {
	height:450px;
	width:auto;
}
#Galleria {
	position: center;
}
#avanti, #indietro, #startstop{
	border:none;
	display:inline-block;
	padding:8px 16px;
	vertical-align:middle;
	overflow:hidden;
	text-decoration:none;
	color:inherit;
	background-color:inherit;
	text-align:center;
	cursor:pointer;
	white-space:nowrap;
	box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
#startstop {
	display: none;
}

#h1 {
	text-align: center; 
	margin-top: 0px;
}
#online {
	margin-right:10px;
}

.whiteboxes{
	color: #777;
	background-color:white;
	text-align:center;
	padding:0;
	text-align: justify;
	width:100%; 
	height: auto; 
	margin: 0 auto; 
}
.testo{
  padding:50px;
}
/*layout testi grafico*/
.testo1{
	padding:50px;
	margin-left: 220px;
	text-align: justify;
}
.testo2{
	padding:50px;
	margin-left: 120px;
	text-align: justify;
}
.testo3{
	padding:50px;
	margin-left: 200px;
	text-align: justify;
}
.testo4{
	padding:50px;
	margin-left: 150x;
	text-align: justify;
}



.titoli{
	text-align:center;
}
.simplespan{
	background-color:transparent;
	font-size:25px;
	color: black;
}
.border{
	font-size:25px;
	color: whitesmoke;
	left: 50%;
}
.blackboxes{
	display: inline-block;
	width: 100%;
	left: 0;
}
.intoblackboxes{
	color:white;
	background-color:#282E34;
	text-align:center;
	padding:50px 80px;
	text-align: justify;
}
.intoblackboxes h3{
  color:white;
}
.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-e {
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin:0;

}
.bgimg-1 {
  background-image: url("immagini/sfondo1.jpg");
  min-height: 100%;
}

.bgimg-2 {
  background-image: url("immagini/manifestazione.jpeg");
  min-height: 400px;
}

.bgimg-3 {
  background-image: url("immagini/manifestazione.jpeg");
  min-height: 400px;
}

.bgimg-e {
  min-height: 400px;
}

.caption {
  position: absolute;
  left: 0;
  top: 40%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  
  color: #FFFAF0;
  padding: 20px;
  font-size: 30px;
  letter-spacing: 5px;
  text-align:center;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}
.floatingbox1 a{
	position:center;
}
.floatingbox1{
	color:inherit;
	position:bottom;
	text-decoration:none;
	margin:auto;
	text-align: center;
	display: block;
	padding: 1em 1.8em;
	border: 1px solid;
	width:10%;
	animation-name: changecolor;
	animation-duration: 1s;
	animation-iteration-count: 200;
	animation-direction: alternate;
}
@keyframes changecolor {
    to {background-color: black;
	    border-color:none;}
}
.floatingbox1:hover, .floatingbox1:active {
	transition-duration: 300ms;
	text-decoration:none;
	color: white;
	background-color: black;
	border-color:none;
	transform:scale(1.2,1.2);
}

/*Navigation Bar*/
#navbar {
	color:(91, 91, 91); /*grigio scuro*/
	font-size: 90%;
	font-family: 'Raleway', sans-serif;
	margin: auto;
	text-align:center;
	text-transform: uppercase;
	line-height: 2;
  list-style-type: none;
  margin-top: 0;
  padding: 0;
  overflow: hidden;
  opacity:0.7;
  background-color: #666666; 
	position:fixed;

	width:100%;
	z-index:1;
}
.navelement {
  word-break: keep-all;
  display: inline-block; /*inline-block elements are like inline elements but they can have a width and a height.*/
}
.navelement a {
    display: inline-block;
    color: white;
    text-align: center;
    margin: auto;
    padding: 8px 12px;
    text-decoration: none;
}
@media only screen and (max-width: 1050px){
    .navelement {
        width: auto;
    }
}
/* Change the link color to #111 (black) on hover */
.navelement a:hover {
    background-color: #111;
}
#testo{
	padding: 5%;
}
.box{
  margin: auto;
	width:80%;
	padding: 0;
	display:block;
	height:auto;
}
#box2{
  width: 100%;
  height:auto;
}
.container{
	color:(91, 91, 91); /*grigio scuro*/
	font-family: 'Raleway', sans-serif;
	font-size: 20px; 
	padding: 0;
	text-align:auto;
	line-height: 1.7;
	width:25%;
	float:left;
	display:inline; 
	margin-bottom: 5%;
	
}
.container1{
	color:(91, 91, 91); /*grigio scuro*/
	font-family: 'Raleway', sans-serif;
	font-size: 20px; 
	padding: 0;
	text-align:auto;
	line-height: 1.7;
	width:15%;
	float:left;
	display:inline; 
	margin-bottom: 5%;
}
.floatingimage {
	position:bottom;
	margin:auto;
	width: auto;
	height: 200px;
	transition-duration: 600ms;
	float:left;
}
#im1, #im2, #im3, #im4{height: 50px;}
.floatingimage:hover{
	opacity:0.6;
}
.description{
	position:bottom;
	float:left;
	font-weight:bold;
	font-size:60%;
	margin:25px 25px;
	padding:0;
}

.description p{
	font-family: "Julius Sans One", sans-serif;
	text-transform: uppercase;
	font-style:normal;
}
.floatingbox{
	color:inherit;
	position:bottom;
	text-decoration:none;
	float:left;
	margin:1%;
	text-align: center;
	display: inline-block;
	padding: 1em 1.8em;
	border: 1px solid;
}
.big{
  font-family: 'Oswald', sans-serif;
  font-size: 220%;
  letter-spacing: -1px;
  font-style:normal;
  color:black;
}
.small{
  font-size:70%;
}
#c1, #c2, #c3, #c4{
  width: 50%;
}

.floatingbox:hover, .floatingbox:active {
	transition-duration: 800ms;
	text-decoration:none;
	color: white;
    background-color: black;
}
#circle1 { 
	border-radius: 250px;
	width:30%;
	
}
#circle2 { 
	border-radius: 250px;
	width:30%;
}
 #circle3 { 
	border-radius: 250px;
	width:30%;
}
#circle4 { 
	border-radius: 250px;
	width:30%;
}
.torta{
	width:30%;
	margin-bottom: 5%; 
	background-color: none;
	display: inline-block;
	float: left;
	padding: 0 6px;
}

@media only screen and (max-width: 700px){
    .torta {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px){
    .torta {
        width: 100%;
    }
}
#intro{
	top:10%;
	bottom:10%;
}
#container1{
  display: inline;
	width:50%;
	height:70%;
	float:right;
	padding: 5% 0;
}
#container2{
  display: inline;
	float: right;
	width:55%;
	height: 70%;
	margin: auto;
	padding: 5% 3% ;
}
#container3{
  display: inline;
  float: left;
	width: 47%;
	height: 80%;
	margin: auto;
	padding: 3%;
}
#container4{
  margin: 5% 0;
}
@media only screen and (max-width: 800px){
    #container2, #container3{
      width: 100%;
      float: none;
    }
}
.desc_sx{
  display: inline;
  float: left;
  width:40%;
  max-height:70%;
  margin: auto;
  text-align: justify;
  padding: 10% 3%;
}

.concl{
  font-size: 90%;
  color: #777;
  display: inline-block;
  padding: 2%;
}
.testo a{
  text-decoration: none;
  color: white;
}

@media only screen and (max-width: 800px){
    .concl {
      width: 100%;
    }
}
#approfondimenti .btn {
    -ms-transform: translate(-50%, -50%);
    background-color: #787878;
    color: black;
    padding: 16px 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    display: inline-block;
}

#approfondimenti .btn:hover {
    background-color: black;
    color: white;
}
.btn a{
  text-decoration: none;
}
.btn2 {
  margin: auto;
  padding: 15px 25px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #29a3a3;
  border: none;
  border-radius: 10px;
  box-shadow: 0 9px #999;
  display:block;
}

.btn2:hover {background-color: #47d1d1}

.btn2 {
  background-color: #29a3a3;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.btn2 p{
  letter-spacing: 4px;
  text-transform: uppercase;
  font: 80% "Lato", sans-serif;
  text-decoration: none;
  color: white;
}
#consigli{
  margin:auto;
  width: 50%;
  text-align: center;
}
#cons a {text-decoration: none;}


/*GRAFICI*/

#linee{
	width: 95%;
	margin-left: 2%;
}
#torta{
	width: 55%;
	margin-left: 24%;
}

#viz1625211552448{
	width: 50%;
}
#viz1625216744701{
	width: 50%;
}
#viz1625587258947{
	width: 70%;
}

#Descrizione {
	text-align: center;
}

/*Bottoni violenza*/
#moreS, #moreF, #moreP, #moreE {display: none;}

#myBtnS, #myBtnF, #myBtnP, #myBtnE{
	background-color:#dddbdb;
  	border: none;
	color:black;
	padding: 20px 50px;
	text-align: center;
	text-decoration: none;
	border-radius: 12px;
	font-size: 16px;
	width: 300px;
	margin-left: 36%;
}

#istanbul {
	color: black;
}

#cit{
	padding: 20px;
}